* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/mtfuji.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 113px;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  color: White
  width: 100%;
}

.asahititle {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 45px;
  font-family: 'Amita', serif;
  text-shadow: 2px 2px 5px Gray;
  color: black;
}

.asahititle1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 6px;
  font-family: 'Amita', serif;
  text-decoration: underline;
  text-shadow: 2px 2px 5px Gray;
  color: Black;
}

.listitem {
  float: left;
  padding-right: 290px;
}

.listitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'shadows into light', serif;
  letter-spacing: 2.5px;
}

.listitem a:hover {
  background-color: brown;
}

.hr1 {
  width: 99%;
  border: 1px solid black;
  opacity: .80;
}

.text1-1 {
  color: Black;
  text-shadow: 2px 2px 5px Gray;
  font-size: 36px;
  text-align: center;
  position: relative;
  top: 30px;
  font-family: none;
}

p {
    font-family: 'shadows into light', serif;
}

.ig {
  position: relative;
  top: 30px;
  margin-left: 300px;
}

.twitter {
  position: relative;
  top: 30px;
  margin-right: 300px;
}

.fb {
  position: relative;
  top: 30px;
  margin-right: 400px;
  margin-left: 400px;
}
