ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  color: White
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url(./images/mtfuji.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.asahititle {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 45px;
  font-family: 'Amita', serif;
  text-shadow: 2px 2px 5px Gray;
  color: black;
}

.asahititle1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 6px;
  font-family: 'Amita', serif;
  text-decoration: underline;
  text-shadow: 2px 2px 5px Gray;
  color: Black;
}

  .listitem {
    float: left;
    padding-right: 290px;
  }

  .listitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'shadows into light', serif;
    letter-spacing: 2.5px;
  }

  .listitem a:hover {
    background-color: brown;
  }

.hr1 {
  background-color: black;
  width: 100%;
  height: 1px;
  border: none;
}

.legend {
  text-shadow: 2px 2px 5px Gray;
  color: black;
  text-align: center;
}

.name {
  margin-left: 31px;
  opacity: .95;
  text-shadow: 2px 2px 5px Gray;
}

.email {
  margin-left: 31px;
  opacity: .95;
  text-shadow: 2px 2px 5px Gray;
}

.fieldset {
  border: none;
}

form {
  text-shadow: 2px 2px 5px Gray;
  border: none;
}

.text1 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Amita', serif;
  text-shadow: 2px 2px 50px Beige;
  color: Black;
  font-size: 32px;
}
.footer {
  display: flex;
  opacity: .73;
}

.fb {
  margin-left: 500px;
  margin-right: 300px;
}

.ig {

}

.twitter {
  margin-right: 500px;
  margin-left: 300px;
}

img {
  border-radius: 25%;
  border: 2px solid Black;
  max-width: 100%;
}

.formbtn {
  border: 2px solid Black;
  opacity: .80;
  background-color: #fa2828;
}
.formbtn:hover {
  background-color: #28fa28;
}
