title {
  color: black;
  justify-content: center;
  font-size: 48px
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
  color: White
}

.listitem {
  float: left;
  padding-right: 290px;
}

.listitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listitem a:hover {
  background-color: brown;
}

.image1 {
  float: right;
  margin-top: 100px;
  margin-right: 300px;
  margin-bottom: 100px;
}

.carouseltext {
  float: left;
  margin-top: 250px;
  font-size: 36px;
  margin-left: 300px;
}

.hr1 {
  width: 100%;
}

.footer {
  text-align: center;
  
}
